footer {
  position: absolute;
  bottom: 80px;
  left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > span {
  margin-bottom: 10px;
}

footer > a > div {
  height: 30px;
  width: 30px;
  background-image: url("../image/insta.png");
  background-size: cover;
}
