@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 200px;
  margin-left: 180px;
  padding: 50px 0 20px 0;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

header > div {
  position: relative;
  width: 50%;
  display: flex;
  margin: 0 150px;
}

header > div:first-child {
  flex-direction: column;
  margin-left: 140px;
}

header > div:first-child > a {
  color: inherit;
}

header > div:last-child {
  justify-content: flex-end;
  font-size: 20px;
}

header > div:last-child > a > div {
  margin: 0 10px;
  background-size: cover;
  background-position: center;
  height: 30px;
  width: 40px;
}

header > div:last-child > a:nth-child(1) > div {
  background-image: url("../image/korea.png");
}

header > div:last-child > a:nth-child(2) > div {
  background-image: url("../image/america.png");
}

header > div:last-child > a:nth-child(3) > div {
  background-image: url("../image/china.png");
}
